// $NotQuiteWhite: "#FAF9F6";
// $MineShaft_60: "#7E7D7D";
// $MineShaft_80: "#525252";
// $MineShaft_100: "#282727";
// $Stone_60: "CAC1B4";
// $Stone_80: "#B9AC9B";
// $Stone_100: "#A89883";
// $Stone_120: "#867968";
// $Stone_140: "#645B4E";
// $Crema: "#EBDAB1";
// $Foxglove_60: "#CFA0B5";
// $Foxglove_80: "#BF809D";
// $Foxglove_100: "#B06185";
// $Foxglove_120: "#8C4D6A";
// $Foxglove_140: "#693A4F";
// $Foxglove_Bright: "#D2859A";
// $Lagoon_60: "#8FB5B7";
// $Lagoon_80: "#6A9C9F";
// $Lagoon_100: "#458487";
// $Lagoon_120: "#37696C";
// $Lagoon_140: "#294F51";
// $Lagoon_Bright: "#83A497";
// $Forest_60: "#A4C3A5";
// $Forest_80: "#86AF87";
// $Forest_100: "#689C69";
// $Forest_120: "#537C54";
// $Forest_140: "#3E5D3F";
// $Forest_Bright: "#8EBF7B";
// $Olive_60: "#C1C075";
// $Olive_80: "#ACAB47";
// $Olive_100: "#98961A";
// $Olive_120: "#797814";
// $Olive_140: "#5B5A0F";
// $Olive_Bright: "#B8BA26";
// $CornHusk_60: "#E6C179";
// $CornHusk_80: "#DEAC4D";
// $CornHusk_100: "#D69821";
// $CornHusk_120: "#AB791A";
// $CornHusk_140: "#805B13";
// $CornHusk_Bright: "#F9BC2F";
// $Thunderbird_60: "#DF7B77";
// $Thunderbird_80: "#D54E4A";
// $Thunderbird_100: "#CB231D";
// $Thunderbird_120: "#A21C17";
// $Thunderbird_140: "#791511";
// $Thunderbird_Bright: "#FA4834;

// rgb
$NotQuiteWhite: rgb(250, 249, 246);
$MineShaft_60: rgb(126, 125, 125);
$MineShaft_80: rgb(82, 82, 82);
$MineShaft_100: rgb(40, 39, 39);

$Stone_60: rgb(202, 193, 180);
$Stone_80: rgb(185, 172, 155);
$Stone_100: rgb(168, 152, 131);
$Stone_120: rgb(134, 121, 104);
$Stone_140: rgb(100, 91, 78);

$Crema: rgb(235, 218, 177);

$Foxglove_60: rgb(207, 160, 181);
$Foxglove_80: rgb(191, 128, 157);
$Foxglove_100: rgb(176, 97, 133);
$Foxglove_120: rgb(140, 77, 106);
$Foxglove_140: rgb(105, 58, 79);
$Foxglove_Bright: rgb(210, 133, 154);

$Lagoon_60: rgb(143, 181, 183);
$Lagoon_80: rgb(106, 156, 159);
$Lagoon_100: rgb(69, 132, 135);
$Lagoon_120: rgb(55, 105, 108);
$Lagoon_140: rgb(41, 79, 81);
$Lagoon_Bright: rgb(131, 164, 151);

$Forest_60: rgb(164, 195, 165);
$Forest_80: rgb(134, 175, 135);
$Forest_100: rgb(104, 156, 105);
$Forest_120: rgb(83, 124, 84);
$Forest_140: rgb(62, 93, 63);
$Forest_Bright: rgb(142, 191, 123);

$Olive_60: rgb(193,192,117);
$Olive_80: rgb(172, 171, 71);
$Olive_100: rgb(152, 150, 26);
$Olive_120: rgb(121, 120, 20);
$Olive_140: rgb(91, 90, 15);
$Olive_Bright: rgb(184, 186, 38);

$CornHusk_60: rgb(230, 193, 121);
$CornHusk_80: rgb(222, 172, 77);
$CornHusk_100: rgb(214, 152, 33);
$CornHusk_120: rgb(171, 121, 26);
$CornHusk_140: rgb(128, 91, 19);
$CornHusk_Bright: rgb(249, 188, 47);

$Thunderbird_60: rgb(223, 123, 119);
$Thunderbird_80: rgb(213, 78, 74);
$Thunderbird_100: rgb(203, 35, 29);
$Thunderbird_120: rgb(162, 28, 23);
$Thunderbird_140: rgb(121, 21, 17);
$Thunderbird_Bright:rgb(250, 72, 52);